.Header {
    z-index: 2;
    position: absolute;
    overflow: auto;
    min-width: 80%;
    height: 100%;
    flex-direction: column; /* направление дочерних элементов */
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    background-color: white;
}