.BodyForm {
    z-index: 1;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    background-color: rgba(233, 233, 233, 1);
    width: 100vw;
    min-height: 72vh;
    text-align: justify;
    letter-spacing: 1px;
    padding: 2vh 0;
    color: #fff;
}
